*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --sz-xs: 4px;
  --sz-sm: 8px;
  --sz-md-sm: 12px;
  --sz-md: 16px;
  --sz-lg-md: 24px;
  --sz-lg: 32px;
  --sz-xl-lg: 48px;
  --sz-xl: 64px;
  
  --full-w: 100%;
  --full-vw: 100vw;
  --full-h: 100%;
  --full-vh: 100vh;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--sz-sm);
}

.page .toolbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.container-movies {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
  gap: var(--sz-sm);
}

.card-movie {
  max-width: var(--full-w);
  display: flex;
  flex-direction: column;
}


.card-movie .container-cover img {
  width: 100%;
}